<launch>
<!--
Using simulation time means nodes initialized after this
will not use the system clock for its ROS clock and
instead wait for simulation ticks.
See http://wiki.ros.org/Clock
Note: set to false for deploying to a real robot.
-->
<arg name="use_sim_time" default="true"/>
<param name="use_sim_time" value="$(arg use_sim_time)"/>
<!-- robot will start to move to that point -->
<node pkg="robot_app" type="point_to_point.py" name="point_to_point" output="screen"/>
</launch>